name: ESLint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install DEV dependencies
        run: |
          npm install --only=dev

      - name: Run ESLint
        run: npm run lint
  
  test:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run tests
        run: echo "Running tests"

  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    needs: [ eslint, test ]
    permissions:
      contents: read
      security-events: write
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to production
        run: echo "Deploying to production"